const config = {

  // Your Bot's Token. Available on https://discordapp.com/developers/applications/me
  "token": "mfa.VkO_2G4Qv3T--NO--lWetW_tjND--TOKEN--QFTm6YGtzq9PH--4U--tG0",

  // Default per-server settings.  
  "defaultSettings" : {
    "prefix": "!",
  },

  // URLs DEFINITIONS.
  "URLs": {
    "powers": "https://www.somesite.com/somefile.json",
    "heroes": "https://www.somesite.com/somefile.json"
  }
};

module.exports = config;
